

body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    background-color: #8A95A5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  .title {
    font-size: 8em;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .subtitle {
    font-size: 1.5em;
    color: #555;
    margin-top: 0.2em;
    margin-bottom: 2em;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
  
  .button {
    font-size: 1em;
    font-family: 'Lora', serif;
    padding: 0.7em 2em;
    border: none;
    border-radius: 20px;
    color: #474056;
    background-color: #E7D5C9;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Soft shadow */
    transition: transform 0.1s ease;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-2px); /* Slight lift on hover */
  }
  